Vote: 
%span.label.vote{:onclick => "vote('up', #{user}, #{item}, '#{divid}');"}  Helpful 
%span.label.vote{:onclick => "vote('down', #{user}, #{item}, '#{divid}');"}  Unhelpful 
| #{upd[:up]} people found this review helpful
| #{upd[:down]} people found this review unhelpful
