Vote: 
- if helpfuls.map{|x| x.review_id if x.helpful == true}.include?(review_id)
  %span.label.success.vote Helpful 
- else
  %span.label.vote{:onclick => "vote('up', #{review_id}, '#{divid}');"}  Helpful 

- if helpfuls.map{|x| x.review_id if x.helpful == false}.include?(review_id)
  %span.label.important.vote Unhelpful 
- else
  %span.label.vote{:onclick => "vote('down', #{review_id}, '#{divid}');"}  Unhelpful 

| #{upd[:up]} people found this review helpful
| #{upd[:down]} people found this review unhelpful
