:javascript
  tagit = function(event){
    if(event.keyCode == 13){
      $.post('/item/#{@item.id}/tag',
        {tag: $("#addtag").val()},
        function(data){
          $('#tagdiv').html(data);
          $("#addtag").keyup(function(event){tagit(event);});
        });
    }
  }
  $(document).ready(function() {
    $("#comment").validate({
      errorPlacement: function(error, element) {
        error.appendTo( element );
      },
      success: function(label) {
        $("#com-sub").removeClass("disabled");
      }
    });

    $("#comment").waypoint(function() {
      $("#revarea").focus();
    }, 
    {offset: 'bottom-in-view'});


    $("#addtag").keyup(function(event){tagit(event);});
  });

  

  vote = function(direction, review_user, review_item, id){
    $.post('/item/review',
      {dir: direction, rev_user: review_user, rev_item: review_item, divid: id},
      function(data){
        $('#' + id).html(data);
    });
  }



.spacer{:style => 'padding: 10px;'}
  %a{:href => '/item'}
    &larr; Go back to items
  %span.divider /
  %a{:href => '/search'}
    Start a new search
.row
  .span5
    %img.thumbnail.hilite{:src => @item.image.url, :width => 300, :height => 300}

  .span10.offset1
    .well
      %h1
        = @item.name
        %small can be borrowed for #{@item.max_loan} days.
      %small Shared since #{@item.created_at.strftime("%B %e, %Y")} by 
      %a.no-decor{:href => "/user/#{@item.user.id}"}
        #{@item.user.name} 
        %img.tiny-pic{:src => gravatar(@item.user), :width => 20, :height => 20}
      %br
      -# this should be inactive if already borrowed
      -# and alert should then show up
      %br
      - if @item.available?
        %a.btn.primary{:href => '#'} Borrow
      - else
        %a.btn.primary.disabled{:href => '#'} Borrow
      %a.btn.scrollPage{:href => '#reviews'} View Feedback
      - if logged_in
        a.btn.scrollPage{:href => '#end', :onclick => 'setTimeout("$("#revarea").focus()",5000);'} Review
      - if not @item.available?
        %a{:href => '#'} Alert when available
      %h3 Description 
      :textile
        #{@item.desc}
      #tagdiv
        = haml :'item/_tags', :locals => {:item => @item}


#similar
  %h2 Similar Items
  %ul.media-grid
    - @similar.each do |item|
      %li
        = haml :'item/_item', :locals => {:item => item}


#reviews.multibox
  %h1 Reviews
  - if @item.reviews.empty?
    .rev There aren't any reviews yet! Awwww...
  - @i = 0
  - @item.reviews.each do |review|
    - @i += 1
    .rev
      %img.tiny-pic.right{:src => gravatar(review.user), :width => 40, :height => 40}
      %h3
        %a{:href => "/user/#{review.user.id}"}= review.user.name
        %small= review.created_at.strftime("%B %e, %Y")
      .bd
        :textile 
          #{review.body}
        %hr
        %div{:id => "revvote#{@i}"}= haml :'item/_votes', :locals => {:upd => review.upDownVotes, 
                :user => review.user.id, :item => @item.id, :divid => "revvote#{@i}"}
                
  - if logged_in
    .rev#end
      -if Review.first( :user => current_user, :item => @item) == nil
        %h3 Add a Review
        %form#comment{:method => "POST"}
          %input{:type => "hidden", :name => "item_id", :value => @item.id}
          %textarea#revarea.required{:name => 'body'}
          .span5.right
            %h4 Let your voice be heard
            :textile
              Try to give constructive criticism and just plain helpful reviews in general.  This is helping others know what they are getting with this item, and letting the owner know about it too.  You comment will be parsed with "textile":http://textile.thresholdstate.com/.
          %br
          %input#com-sub.submit.btn.disabled{:type => 'submit', :value => 'Post Review'}
      - else
        %br
        :textile
          Thanks for reviewing!
