.spacer{:style => 'padding: 10px;'}
  %a{:href => '/item'}
    &larr; Go back to items
  %span.divider /
  %a{:href => '/search'}
    Start a new search
.row
  .span5
    %img.thumbnail.hilite{:src => @item.image.url, :width => 300, :height => 300}

  .span10.offset1
    .well
      %h1
        = @item.name
        %small can be borrowed for #{@item.max_loan} days.
      %small Shared since #{@item.created_at.strftime("%B %e, %Y")} by 
      %a.no-decor{:href => "/user/#{@item.user.id}"}
        #{@item.user.name} 
        %img.tiny-pic{:src => gravatar(@item.user), :width => 20, :height => 20}
      %br
      -# this should be inactive if already borrowed
      -# and alert should then show up
      %br
      - if @item.available?
        %a.btn.primary{:href => '#'} Borrow
      - else
        %a.btn.primary.disabled{:href => '#'} Borrow
      %a.btn.scrollPage{:href => '#reviews'} View Feedback
      %a.btn.scrollPage{:href => '#end'} Review
      - if not @item.available?
        %a{:href => '#'} Alert when available
      %h3 Description 
      :textile
        #{@item.desc}

#reviews
  %h1 Reviews
  - if @item.reviews.empty?
    .rev There aren't any reviews yet! Awwww...
  - @item.reviews.each do |review|
    .rev
      %img.tiny-pic.right{:src => gravatar(review.user), :width => 40, :height => 40}
      %h3
        %a{:href => "/user/#{review.user.id}"}= review.user.name
        %small= review.created_at.strftime("%B %e, %Y")
      .bd
        :textile
          #{review.body}
  .rev#end
    %h3 Add a Review
    %form{:method => "POST"}
      %input{:type => "hidden", :name => "item_id", :value => @item.id}
      %textarea{:name => 'body'}
      .span5.right
        %h4 Let your voice be heard
        :textile
          Try to give constructive criticism and just plain helpful reviews in general.  This is helping others know what they are getting with this item, and letting the owner know about it too.  You comment will be parsed with "textile":http://textile.thresholdstate.com/.
      %br
      %input.submit.btn{:type => 'submit', :value => 'Post Review'}
