:javascript
  message = function(){
    if ($("#revarea").val() == ""){ return; }
    $.post('/message/new?user=#{@other.id}',
      {body: $("#revarea").val()},
      function(data){
        $('#revarea').val('');
        $('#revarea').focus();
      }
    );
  }

  poll = function(){
    $.ajax({
      url: '/message/poll?user=#{@other.id}',
      success: function(data){
        $('#end').before(data);
        poll();
      }
    });
  }

  $(document).ready(function(){ 
    $("#mes-sub").click(message);

    poll();
  });

- if @first
  %h2 Conversation between #{@first.name} and #{@other.name}
- else
  %h1 Conversation with #{@other.name}
- if not @messages.empty?
  .multibox#convo
    - @messages.each do |message|
      = haml :'messages/_message', :locals => {:message => message}
    - if not @first
      .rev#end
        %h5 Send a message to #{@other.name}
        %textarea#revarea.required{:name => 'body'}
        %br
        %a#mes-sub.btn.scrollPage{:href => '#end'} Message

- else
  .multibox#convo
    .rev#end
      %h5 Send a message to #{@other.name}
      %textarea#revarea.required{:name => 'body'}
      %br
      %a#mes-sub.btn.scrollPage{:href => '#end'} Message

