.pagination
  %ul
    -# Previous button
    - if page == 1
      %li.prev.disabled
        %a{:href => '#'} &larr; Previous
    - else
      %li.prev
        %a{:href => "/#{model}?page=#{page - 1}"} &larr; Previous





    -# Now do each page
    - pages.times do |i|
      - if i > 9 and i < pages - 9
        -#pass
      - elsif i == 8
        %li.disabled
          %a{:href => '#'} ...
      - elsif i + 1 == page
        %li.active
          %a{:href => '#'}= i + 1
      - else 
        %li
          %a{:href => "/#{model}?page=#{i + 1}"}= i + 1




    -# Next button
    - if page < pages
      %li.next
        %a{:href => "/#{model}?page=#{page + 1}"} Next &rarr;
    - else
      %li.next.disabled
        %a{:href => '#'} Next &rarr;
