%br
.row
  .span10
    %h1 
      ="#{@c.name} #{@c.zip}"
      -if logged_in
        %small (#{current_user.distance_from(@c.zip).to_miles.round} miles)
.row
  .span
    %h4 #{@c.users.length} Members
  -if logged_in
    -if current_user.community != @c
      .span
        %form{:action=>"/community/join",:method=>'POST',:style=>"margin:0px;"}
          %input{:type=>"hidden",:name=>"community_id", :value=>@c.id}
          %input.btn{:type=>"submit", :value=>"Join This Community"}
    -else
      .span
        %h4 (Including you!)
=@c.description
%br
%br
-if @c.users.length > 0
  %ul.tabs{:data => {:tabs => "tabs"}}
    %li.active
      %a{:href => "#users"}Members (#{@c.users.length})
    -if @c.users.all.items.length > 0
      %li
        %a{:href => "#items"}Items (#{@c.users.all.items.length})

  .tab-content#my-tab-content
    .active.tab-pane#users
      %ul.media-grid
        - @c.users.each do |user|
          %li
            = haml :'user/_user', :locals => {:user => user}
    -if @c.users.all.items.length > 0
      .tab-pane#items
        %ul.media-grid
          - @c.users.all.items.each do |item|
            %li
              = haml :'item/_item', :locals => {:item => item}

  :javascript
      jQuery(document).ready(function ($) {
          $(".tabs").tabs();
      });
