:javascript
  $(document).ready(function() {
    $("#sign_up_form").validate({
      errorClass: 'help-inline',
      errorElement: 'span',
      highlight: function(element, errorClass) {
        $(element).parent().addClass("error");
      },
      success: function(label) {
        label.parent().removeClass("error");
      },
      rules: {
        password_repeat: {
          equalTo: "#password",
        }
      }
    });
  });
  confirm_delete = function() {
    $("#deletebtn").addClass("danger").html("Confirm: Delete Account!?").bind("click", function(){
      window.location = "/user/"+#{@user.id}+"/delete";
    });
  }

%div.row
  %div.span8
    %h1 Edit Profile
    - if flash[:error]
      .alert-message.error=flash[:error]
    %form#edit_form{:method=>"POST"}
      =haml :"user/_editform"
      %fieldset
        .input.clearfix
          %input.submit.btn{:type => 'submit', :value => 'Update Profile'}
  %div.span7.offset1
    %h2 Currently Borrowing
    - unless @borrowings.empty?
      %table.well
        %thead
          %th{:width=>"50%"} Item
          %th{:width=>"25%"} Days Left
          %th{:width=>"25%"} Report Issue
        %tbody
          - @borrowings.each do |b|
            %tr
              %td
                %a{:href=>"/item/#{b.item_id}"}
                  %b=b.item.name
                %p{:style=>"color:#999;"}
                  (from
                  %a{:href=>"/user/#{b.item.user_id}"}=b.item.user.name
                  )
              %td
                = [b.days_remaining.floor,0].max.to_s + "/" + b.item.max_loan.to_s
              %td
                - if b.issues.empty?
                  %a{:href=>"/issue/new?item=#{b.item.id}"} Report
                - else
                  %a{:href=>"/issue/#{b.issues.last.id}"} View Report
    - else
      %div.alert-message.block-message.warning
        %p It looks like you aren't borrowing anything!
        %div.alert-actions
          %a.btn{:href=>"/item"} View All Items
    %h2 My Items
    - unless @items.empty?
      %table.well
        %thead
          %th{:width=>"50%"} Item
          %th{:width=>"50%"} Borrowed By
        %tbody
          - @items.each do |i|
            - b = i.borrowings.last(:current=>true)
            %tr
              %td
                %a{:href=>"/item/#{i.id}"}
                  %b=i.name
              %td
                -if b
                  =b.user.name
                -else
                  %a{:href=>"/item/#{i.id}"} Available!
    - else
      %div.alert-message.block-message.warning
        %p Oh dear! It looks like you aren't sharing any items! 
        %div.alert-actions
          %a.btn{:href=>"/item/new"} Share an Item
    %h2 Delete My Account
    %div.alert-message.block-message.error
      %p Want out? Clicking the button below will 
      %b delete your account and remove all traces of you from Share*Match. 
      Again, this will permanently delete you, your items, your messages, etc., and cannot be un-done.
      %div.alert-actions
        %a#deletebtn.btn{:onclick=>"javascript:confirm_delete()"} Delete My Account!
