!!!
%html
  %head
    %meta{:charset=>"utf-8"}
    %title Share*Match -- share with friends
    %link{:rel=>"stylesheet",:type=>"text/css",:href=>"/bootstrap.css"}
    %script{:type=>"text/javascript",:src=>'http://code.jquery.com/jquery-latest.min.js'}
    %script{:type=>"text/javascript",:src=>'http://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.min.js'}
    %script{:src=>"/twipsy.js"}
    %script{:src=>"/alert.js"}
    -# TODO: change this to coffeescript
    :javascript
      $(document).ready(function(){
        $(".alert-message").alert()
      });
  %body
    .container{:style=>"margin-top: 10px;"}
      .header
        %a{:href=>"/"}
          %img{:src=>"/sharematch.png"}
        %ul.pills{:style=>"float: right;"}
          = nav_li 'Sign Up', '/sign-up', @pills[:signup]
          = nav_li 'Log In', '/login', @pills[:login]
        %br
        %ul.tabs
          = nav_li 'HOME', '/', @nav[:home]
          = nav_li 'SHARE', '/share', @nav[:share]
          = nav_li 'FIND', '/find', @nav[:find]
          = nav_li 'SEARCH', '/search',  @nav[:you]
          = nav_li 'YOU', '/you',  @nav[:user]
      =yield
    %footer
      .container
        %h4 Share*Match 
        :textile
          | a project for eecs341 at "CWRU":http://case.edu/ by "Tom Dooner":http://tomdooner.com, "Brian Stack":http://brianstack.net, and "Ian Dimayuga":http://iandimayuga.com
          | crafted with "Sinatra":http://sinatrarb.com, "Less":http://lesscss.org, and "jQuery":http://jquery.com
